{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div id="root"></div>
    <div text-align="center">

        <div class="maintext">
            <img src="/static/img/spotonlogo_b.png"></p>
        </div>

        <div class="maintext">
            <p class="maintext">
                <hr>    
                <h1>DigiDex</h1>
                <br>
                <a href="/login" id="btn" style="margin:20px;">Get Started</a>
                <hr>
            </p>
        </div>

    </div>

{% endblock %}