{% extends "layout.html" %}

{% block title %}
    My Landing Page
{% endblock %}

{% block styles %}
    {{ bootstrap.load_css() }}
{% endblock %}

{% block main %}
        <div class="row justify-content-center mt-5">
            {% for digimon in digimons %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div 
                        class="image-container"
                        id="box"
                    >
                        <img 
                            class="card-img-top" 
                            style="
                                max-height:55%; 
                                max-width:100%;
                                line-height: 320px;
                                font-size: 200px;
                            " 

                            src="https://digimon-api.com/images/digimon/w/{{digimon[0]}}.png"
                            alt="?"><br>
                        <div style="padding-left:2px;padding-right:2px; font-size:28px; font-weight: bold;                        ">
                            {{digimon[0]}}<br>
                            {{ loop.index }}<br>
                            <form action="" method="post">
                                <button class="btn btn-danger" style="z-index:200;" type="submit" name="digimon_name" value="{{digimon[0]}}">View</button>
                                {% if not loop.first %}
                                    <input type="hidden" name="previous_digimon" value="{{ digimons[loop.index-2][0] }}">
                                {% else %}
                                    <input type="hidden" name="previous_digimon" value="NA">
                                {% endif %}
                                {% if not loop.last %}
                                    <input type="hidden" name="next_digimon" value="{{ digimons[loop.index][0] }}">
                                {% else %}
                                    <input type="hidden" name="next_digimon" value="NA">
                                {% endif %}
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}

{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock %}
